{
  "openapi": "3.0.0",
  "info": {
    "title": "Puttshack Cloud",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://cloud.puttshack.com"
    }
  ],
  "paths": {
    "/api/v1/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get list of Puttshack locations",
        "operationId": "getLocations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List available bookings for date.",
        "operationId": "getBookings",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "The date to search for bookings number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "location_id",
            "description": "The location id to search for bookings",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "The type of booking to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create a new booking request.",
        "operationId": "createBooking",
        "requestBody": {
          "description": "The booking request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The booking request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{booking_id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get a booking",
        "operationId": "getBooking",
        "parameters": [
          {
            "in": "path",
            "name": "booking_id",
            "description": "The booking id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The booking",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Update a booking request.",
        "operationId": "updateBooking",
        "parameters": [
          {
            "in": "path",
            "name": "booking_id",
            "description": "The booking id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The update booking request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update booking response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{booking_id}/reservations": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List of reservations for a booking",
        "operationId": "getBookingReservations",
        "parameters": [
          {
            "in": "path",
            "name": "booking_id",
            "description": "The booking id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of reservations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reservation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{booking_id}/players": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "List of players for a booking",
        "operationId": "getBookingPlayers",
        "parameters": [
          {
            "in": "path",
            "name": "booking_id",
            "description": "The booking id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a payment intent for a booking.",
        "operationId": "createPayment",
        "parameters": [
          {
            "in": "path",
            "name": "booking_id",
            "description": "The booking id to create a payment for",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The payment intent request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment intent response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{payment_id}": {
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Update a payment intent status.",
        "operationId": "updatePayment",
        "parameters": [
          {
            "in": "path",
            "name": "payment_id",
            "description": "The payment id to update",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
        ],
        "requestBody": {
          "description": "The payment intent request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment intent response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reservations/{reservation_id}": {
      "put": {
        "tags": [
          "Reservations"
        ],
        "summary": "Update a reservation.",
        "operationId": "updateReservation",
        "parameters": [
          {
            "in": "path",
            "name": "reservation_id",
            "description": "The reservation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The update reservation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated reservation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateReservationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/players": {
      "post": {
        "tags": [
          "Players"
        ],
        "summary": "Create a new player.",
        "operationId": "createPlayer",
        "requestBody": {
          "description": "The create player request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlayerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/players/{player_id}": {
      "put": {
        "tags": [
          "Players"
        ],
        "summary": "Update a player.",
        "operationId": "updatePlayer",
        "parameters": [
          {
            "in": "path",
            "name": "player_id",
            "description": "The player id to update",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The update player request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlayerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlayerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/perks/verify": {
      "post": {
        "tags": [
          "Perks"
        ],
        "summary": "Verify perks phone number.",
        "operationId": "verifyPerks",
        "requestBody": {
          "description": "The verification request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPerksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The verification request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/perks/confirm": {
      "post": {
        "tags": [
          "Perks"
        ],
        "summary": "Confirm perks sign up.",
        "operationId": "confirmPerks",
        "requestBody": {
          "description": "The perks confirmation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPerksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The perks confirmation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "perks_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "company_id": {
            "type": "integer",
            "nullable": true
          },
          "display_name": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          }
        },
        "required": [
          "id",
          "display_name",
          "first_name",
          "last_name"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "reservations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "required": [
          "id",
          "user_id",
          "location_id",
          "start_time",
          "end_time"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "street_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "booking_id": {
            "type": "integer"
          },
          "player_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "booking": {
            "$ref": "#/components/schemas/Booking"
          },
          "player": {
            "$ref": "#/components/schemas/Player"
          }
        },
        "required": [
          "id",
          "type",
          "booking_id",
          "guest_type",
          "start_time",
          "display_name",
          "end_time"
        ]
      },
      "Player": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "confirmed": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "display_name",
          "confirmed",
          "type"
        ]
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "open_time": {
            "type": "string"
          },
          "close_time": {
            "type": "string"
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Course"
            }
          }
        },
        "required": [
          "id",
          "name",
          "open_time",
          "close_time",
          "courses"
        ]
      },
      "Course": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        },
        "required": [
          "id",
          "location_id",
          "name"
        ]
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "booking_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "payment_type": {
            "type": "string"
          },
          "grand_total": {
            "type": "number"
          },
          "sub_total": {
            "type": "number"
          },
          "taxes": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "approved": {
            "type": "boolean"
          },
          "transaction_id": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "booking": {
            "$ref": "#/components/schemas/Booking"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          }
        },
        "required": [
          "id",
          "booking_id",
          "user_id",
          "payment_type",
          "grand_total",
          "sub_total",
          "taxes",
          "status",
          "approved",
          "error_message",
          "created_at"
        ]
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "tax": {
            "type": "number"
          },
          "qty": {
            "type": "number"
          },
          "grand_total": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "sku",
          "price",
          "type",
          "tax",
          "qty",
          "grand_total"
        ]
      },
      "TeeTimeRequest": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string"
          },
          "course": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CreateBookingRequest": {
        "type": "object",
        "properties": {
          "adults": {
            "type": "integer"
          },
          "children": {
            "type": "integer"
          },
          "juniors": {
            "type": "integer"
          },
          "tee_times": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TeeTimeRequest"
            }
          },
          "dining_time": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateBookingResponse": {
        "type": "object",
        "properties": {
          "booking": {
            "$ref": "#/components/schemas/Booking"
          }
        }
      },
      "VerifyPerksRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          }
        }
      },
      "ConfirmPerksRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "CreatePlayerRequest": {
        "type": "object",
        "properties": {
          "booking_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string"
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "children": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "booking_id",
          "display_name",
          "children"
        ]
      },
      "CreatePlayerResponse": {
        "type": "object",
        "properties": {
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        }
      },
      "UpdatePlayerRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "display_name"
        ]
      },
      "UpdatePlayerResponse": {
        "type": "object",
        "properties": {
          "player": {
            "$ref": "#/components/schemas/Player"
          }
        }
      },
      "UpdateReservationRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "UpdateReservationResponse": {
        "type": "object",
        "properties": {
          "reservation": {
            "$ref": "#/components/schemas/Reservation"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "properties": {
          "booking_id": {
            "type": "integer"
          }
        },
        "required": [
          "booking_id"
        ]
      },
      "CreatePaymentResponse": {
        "type": "object",
        "properties": {
          "client_secret": {
            "type": "string"
          },
          "payment": {
            "$ref": "#/components/schemas/Payment"
          }
        }
      },
      "UpdatePaymentRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "UpdatePaymentResponse": {
        "type": "object",
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/Payment"
          }
        }
      }
    }
  }
}